<!DOCTYPE html>
<html lang="en">

<head>
  <title>Knihovna obce Prasek - s láskou ke knihám</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="js/vue.min.js"></script>
  <script src="js/data.js"></script>
  <meta property="og:url" content="https://knihovna-prasek.cz/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Knihovna obce Prasek" />
  <meta property="og:description" content="knihovna, Prasek, knihy, book, library" />
  <meta property="og:image" content="https://knihovna-prasek.cz/images/vzor_loga-min.jpg" />
  <meta name="keywords" content="knihovna, Prasek, knihy, book, library" />
  <meta name="description" content="Knihovna obce Prasek, knihovní fond, historie, zajímavosti, fond, Prasek, knihy" />
  <meta name="author" content="Marek Dlabacek" />
  <link href="css/style.min.css" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Global site tag (gtag.js) - Google Analytics TEST -->
  <script src="https://www.googletagmanager.com/gtag/js?id=UA-59981661-2" integrity="sha256-4+wSzz5ccrCtcNz+SqDwnG1GVMc1FDJLGDibicybWeA= sha384-CnYibFMCaL5zygrBIrUggJFect+iZgdPqNx95THEbkhFH3Ra06nPdf5q7Fjdtzrh sha512-TmjADm9qCqGOxCXYWrGiYbXRe/lPd7vW4bn3idseiqLFJ7ortyinpcZYYWcRGymsyn3faBu7ZP4j2YpzMATYjw=="
    crossorigin="anonymous" async></script>

</head>

<body>
  <div id="fb-root"></div>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v2.5";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 test-color">
      <nav class="navbar navbar-expand-lg navbar-light custom_nav">
        <a class="navbar-brand" href="#">Knihovna</a>
        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
              <span class="navbar-toggler-icon">
                <i class="fa fa-navicon"></i>
              </span>
        </button>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="navbar-nav custom_nav_link" id="main-menu-nav-ul">
            <li v-for="link in links" class="nav-item active">

              <a v-if="link.url == '{{ route }}'" :href="link.url" class="nav-link active" hreflang="cs">
                  ${ link.title }
              </a>
              <a v-else :href="link.url" class="nav-link" hreflang="cs">
                  ${ link.title } 
              </a>

          </ul>
        </div>

      </nav>

      <div class="jumbotron pad0">
        <img src="images/vzor_loga-min.jpg" class="img-responsive width_100" alt="Image">
        <div class="container text-center">
        </div>
      </div>

      <div class="container-fluid text-center">
        <div class="d-flex flex-column flex-sm-row content">
          <div class="col-sm-4 sidenav black order-1 order-sm-0">
            <!-- menu -->

            <h2>
                  <a href="https://merkur.tritius.cz/Carmen/library/prasek/" target="_blank">
                    <span class="enter_catalog" >Vstup do katalogu</span>
                  </a>
                </h2>
            <br>
            <h5 class="zajimave-odkazy">
              Zajímavé odkazy
            </h5>
            <ul id="side-menu-nav-ul">
              <li v-for="link in links">
                <a :href="link.url" target="_blank" hreflang="cs">
                  ${ link.title }
                </a>
              </li>
            </ul>
            <h5 class="zajimava-nakladatelstvi">
              Odkazy na některá zajímavá nakladatelství
            </h5>

            <ul class="brand-logo" id="loga">

              <li v-for="link in links">
                <a :href="link.url" target="_blank" hreflang="cs">
                  <img class="img-responsive" :src="link.src" width="100" height="100" :alt="link.alt"/>
                </a>
              </li>
            </ul>

          </div>
          <div class="col-sm-8 text-left order-0 order-sm-1">
            <!-- content -->
            {% block content %} {% endblock %}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
        </div>
        <footer class="col-md-8 text-center footer footer-no-margin">

          <div id="templatemo_footer">
            <br/>
            <div class="fb-like" data-href="https://www.facebook.com/Knihovna-obce-Prasek-1661656817446285/" data-width="200px" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
            <br/>
            Copyright © Knihovna obce Prasek
            <a href="https://knihovna-prasek.cz/">
            <strong>
              Knihovna obce Prasek
            </strong>
          </a>
            <br/> Powered by <a href="https://rosti.cz/">Roští.cz, s.r.o.</a>
          </div>

        </footer>
        <div class="col-md-2">
        </div>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</body>
<script src="js/library.js"></script>
<script src="js/g_tag.js"></script>
</html>
