{% extends "base.html" %}


{% block content %}

<img 
    class="border-null"
    src="https://res.cloudinary.com/ddhpicapt/image/upload/c_scale,w_670/v1644141413/images/obalka_gcylef.png"
    height="449"
    width="670"
     />
<br>
<img 
    class="border-null"
    src="https://res.cloudinary.com/ddhpicapt/image/upload/c_scale,w_670/v1644141414/images/mapa_iggmy3.png"
    height="449"
    width="670"
     />
<p>
    Připravujeme<br>

</p>
<a href="https://res.cloudinary.com/ddhpicapt/image/upload/v1644141404/images/AKCE/pozvanka_mvor0x.png" hreflang="cs">
    <img 
     class="border-null"
     src="https://res.cloudinary.com/ddhpicapt/image/upload/c_scale,w_500/v1644141404/images/AKCE/pozvanka_mvor0x.png" 
     height="500" 
     width="707" 
     alt="Březen" />
    </a>
<br>

<hr>
<a href="https://res.cloudinary.com/ddhpicapt/image/upload/v1644141404/images/AKCE/pozvanka_hackovani_hgw1gf.png" hreflang="cs">
    <img 
     class="border-null"
     src="https://res.cloudinary.com/ddhpicapt/image/upload/c_scale,w_500/v1644141404/images/AKCE/pozvanka_hackovani_hgw1gf.png" 
     width="500" 
     height="708" 
     alt="Rodopis" />
    </a>
<br>

<hr>
<a href="https://res.cloudinary.com/ddhpicapt/image/upload/v1644141405/images/AKCE/rodopis_zjuvsg.jpg" hreflang="cs">
    <img 
    class="border-null" 
    src="https://res.cloudinary.com/ddhpicapt/image/upload/c_scale,w_500/v1644141405/images/AKCE/rodopis_zjuvsg.jpg" 
    width="500" 
    height="353" 
    alt="Rodopis" />
</a>
    <br>

    <hr>

    <a href="https://res.cloudinary.com/ddhpicapt/image/upload/v1644141397/images/AKCE/armenie_dx4cz1.jpg" hreflang="cs">
        <img 
        src="https://res.cloudinary.com/ddhpicapt/image/upload/c_scale,w_500/v1644141397/images/AKCE/armenie_dx4cz1.jpg" 
        width="500" 
        height="353" 
        alt="Arménie" />
    </a>
        <br>

        <hr>

        <a href="https://res.cloudinary.com/ddhpicapt/image/upload/v1644141413/images/pozvanka_ajujpx.jpg" hreflang="cs">
            <img 
            src="https://res.cloudinary.com/ddhpicapt/image/upload/c_scale,w_500/v1644141413/images/pozvanka_ajujpx.jpg" 
            width="500" 
            height="706" 
            alt="Pozvánka" />
        </a>
            <br>

            <hr>

            <p>
                Páteční háčkování<br>

            </p>
            <a href="https://res.cloudinary.com/ddhpicapt/image/upload/v1644141397/images/AKCE/hackovani_1_o9ej7y.jpg" hreflang="cs">
                <img 
                src="https://res.cloudinary.com/ddhpicapt/image/upload/c_scale,w_500/v1644141397/images/AKCE/hackovani_1_o9ej7y.jpg" 
                width="500" 
                height="375" 
                alt="Háčkování" />
            </a>
                <br>
                <a href="https://res.cloudinary.com/ddhpicapt/image/upload/v1644141398/images/AKCE/hackovani_2_sqyq6q.jpg" hreflang="cs">
                    <img 
                    src="https://res.cloudinary.com/ddhpicapt/image/upload/c_scale,w_500/v1644141398/images/AKCE/hackovani_2_sqyq6q.jpg" 
                    width="500" 
                    height="375" 
                    alt="Háčkování" />
                </a>
                <br>
                <a href="https://res.cloudinary.com/ddhpicapt/image/upload/v1644141398/images/AKCE/hackovani_3_spjjsj.jpg" hreflang="cs">
                    <img 
                     src="https://res.cloudinary.com/ddhpicapt/image/upload/c_scale,w_500/v1644141398/images/AKCE/hackovani_3_spjjsj.jpg"
                     width="500"
                     height="375" 
                     alt="Háčkování" />
                </a>
                <br>
                <a href="https://res.cloudinary.com/ddhpicapt/image/upload/v1644141399/images/AKCE/hackovani_4_pnik0x.jpg" hreflang="cs">
                    <img
                     src="https://res.cloudinary.com/ddhpicapt/image/upload/c_scale,w_500/v1644141399/images/AKCE/hackovani_4_pnik0x.jpg" 
                     width="500" 
                     height="375" 
                     alt="Háčkování" />
                </a>
                <br>
                <hr>

                <p>
                    Rozsvěcení vánočního stromečku 2015<br>

                </p>
                <a href="https://res.cloudinary.com/ddhpicapt/image/upload/v1644141405/images/AKCE/stromecek_2015_deinax.jpg" hreflang="cs">
                    <img 
                    src="https://res.cloudinary.com/ddhpicapt/image/upload/c_scale,w_500/v1644141405/images/AKCE/stromecek_2015_deinax.jpg" 
                    width="500" 
                    height="375" 
                    alt="Stromeček" /></a>
                    <br>
                    <a href="https://res.cloudinary.com/ddhpicapt/image/upload/v1644141405/images/AKCE/stromecek_2015_1_uie2we.jpg" hreflang="cs">
                        <img 
                        src="https://res.cloudinary.com/ddhpicapt/image/upload/c_scale,w_500/v1644141405/images/AKCE/stromecek_2015_1_uie2we.jpg" 
                        width="500" 
                        height="375" 
                        alt="Stromeček" />
                    </a>

                    <br>
                    <hr>
                    <p>
                        Zdobení perníčků<br>

                        17. 11. 2015
                    </p>
                    <a href="https://res.cloudinary.com/ddhpicapt/image/upload/v1644141406/images/AKCE/zdobeni_2015_cp74ej.jpg" hreflang="cs">
                        <img
                         src="https://res.cloudinary.com/ddhpicapt/image/upload/c_scale,w_500/v1644141406/images/AKCE/zdobeni_2015_cp74ej.jpg" 
                         width="500" 
                         height="375" 
                         alt="Zdobení" /></a>
                        <br>
                        <a href="https://res.cloudinary.com/ddhpicapt/image/upload/v1644141406/images/AKCE/zdobeni_2015_1_f1zr97.jpg" hreflang="cs">
                            <img
                            src="https://res.cloudinary.com/ddhpicapt/image/upload/c_scale,w_500/v1644141406/images/AKCE/zdobeni_2015_1_f1zr97.jpg"
                            width="500"
                            height="375"
                            alt="Zdobení" />
                        </a>
                        <br>
                        <a href="https://res.cloudinary.com/ddhpicapt/image/upload/v1644141406/images/AKCE/zdobeni_2015_2_imdkec.jpg" hreflang="cs">
                            <img 
                            src="https://res.cloudinary.com/ddhpicapt/image/upload/c_scale,w_500/v1644141406/images/AKCE/zdobeni_2015_2_imdkec.jpg" 
                            width="500"
                            height="375"
                            alt="Zdobení" />
                        </a>
                        <br>
                        <hr>

                        <p>
                            Povídání z cest - tentokrát po Spojených arabských emirátech.<br>
                            Přednášející Jitka Kaizrová<br>
                            13. 10. 2015
                        </p>
                        <a href="https://res.cloudinary.com/ddhpicapt/image/upload/v1644141403/images/AKCE/kaiz_1_mhneki.jpg" hreflang="cs">
                            <img
                             src="https://res.cloudinary.com/ddhpicapt/image/upload/c_scale,w_500/v1644141403/images/AKCE/kaiz_1_mhneki.jpg" 
                             width="500" 
                             height="333" 
                             alt="Povídání" /></a>
                            <br>
                            <a href="https://res.cloudinary.com/ddhpicapt/image/upload/v1644141404/images/AKCE/kaiz_2_iyhmjt.jpg" hreflang="cs">
                                <img 
                                src="https://res.cloudinary.com/ddhpicapt/image/upload/c_scale,w_500/v1644141404/images/AKCE/kaiz_2_iyhmjt.jpg" 
                                width="500" 
                                height="333" 
                                alt="Povídání" />
                            </a>
                            <br>
                            <a href="https://res.cloudinary.com/ddhpicapt/image/upload/v1644141404/images/AKCE/kaiz_3_zim1mn.jpg" hreflang="cs">
                                <img
                                 src="https://res.cloudinary.com/ddhpicapt/image/upload/c_scale,w_500/v1644141404/images/AKCE/kaiz_3_zim1mn.jpg" 
                                 width="500" 
                                 height="333" 
                                 alt="Povídání" />
                            </a>
                            <br>
                            <a href="https://res.cloudinary.com/ddhpicapt/image/upload/v1644141402/images/AKCE/kaiz_4_min_y6fwju.jpg" hreflang="cs">
                                <img
                                src="https://res.cloudinary.com/ddhpicapt/image/upload/c_scale,w_500/v1644141402/images/AKCE/kaiz_4_min_y6fwju.jpg" 
                                width="500"
                                height="341"
                                alt="Povídání" />
                            </a>
                            <br>
                            <a href="https://res.cloudinary.com/ddhpicapt/image/upload/v1644141402/images/AKCE/kaiz_5_min_zmwjea.jpg" hreflang="cs">
                                <img 
                                src="https://res.cloudinary.com/ddhpicapt/image/upload/v1644141402/images/AKCE/kaiz_5_min_zmwjea.jpg"
                                width="500"
                                height="344" 
                                alt="Povídání" />
                            </a>
                            <hr>
                            <p>
                                Setkání žáků ZŠ Prasek s panem králem Georgem von Sečtělým a pasování žáků druhého ročníku ZŠ Prasek na čtenáře.<br>
                                6. 10. 2015
                            </p>
                            <a href="https://res.cloudinary.com/ddhpicapt/image/upload/v1644141398/images/AKCE/PAS_1_oxt0md.jpg" hreflang="cs">
                                <img
                                 src="https://res.cloudinary.com/ddhpicapt/image/upload/c_scale,w_500/v1644141398/images/AKCE/PAS_1_oxt0md.jpg" 
                                 width="500" 
                                 height="333" 
                                 alt="Pasování" />
                            </a>
                            <br>
                            <a href="https://res.cloudinary.com/ddhpicapt/image/upload/v1644141397/images/AKCE/PAS_2_pxohjv.jpg" hreflang="cs">
                                <img 
                                src="https://res.cloudinary.com/ddhpicapt/image/upload/c_scale,w_500/v1644141397/images/AKCE/PAS_2_pxohjv.jpg" 
                                width="500" 
                                height="333" 
                                alt="Pasování" />
                            </a>
                            <br>
                            <a href="https://res.cloudinary.com/ddhpicapt/image/upload/v1644141396/images/AKCE/PAS_3_x7cvcc.jpg" hreflang="cs">
                                <img 
                                src="https://res.cloudinary.com/ddhpicapt/image/upload/c_scale,w_500/v1644141396/images/AKCE/PAS_3_x7cvcc.jpg" 
                                width="500" 
                                height="333" 
                                alt="Pasování" />
                            </a>
                            <br>
                            <a href="https://res.cloudinary.com/ddhpicapt/image/upload/v1644141406/images/AKCE/PAS_4_t1iiz9.jpg" hreflang="cs">
                                <img 
                                src="https://res.cloudinary.com/ddhpicapt/image/upload/c_scale,w_500/v1644141406/images/AKCE/PAS_4_t1iiz9.jpg" 
                                width="500" 
                                height="341" 
                                alt="Pasování" />
                            </a>
                            <br>
                            <a href="https://res.cloudinary.com/ddhpicapt/image/upload/v1644141407/images/AKCE/PAS_5_rs6arz.jpg" hreflang="cs">
                                <img 
                                src="https://res.cloudinary.com/ddhpicapt/image/upload/c_scale,w_500/v1644141407/images/AKCE/PAS_5_rs6arz.jpg" 
                                width="500" 
                                height="344" 
                                alt="Pasování" />
                            </a>
                            <br>
                            <hr>
                            <div class="cleaner_with_height"> </div>






                            </div></div> <!-- end of content right -->

{% endblock %}
