<!DOCTYPE html>
<html lang="cs">

<head>
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <meta http-equiv="Content-Security-Policy" content="block-all-mixed-content">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Knihovna obce Prasek - s láskou ke knihám</title>
  <meta property="og:url" content="https://knihovna-prasek.cz/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Knihovna obce Prasek" />
  <meta property="og:description" content="knihovna, Prasek, knihy, book, library" />
  <meta property="og:image" content="static/images/vzor_loga-min" />
  <meta name="keywords" content="knihovna, Prasek, knihy, book, library" />
  <meta name="description" content="Knihovna obce Prasek, knihovní fond, historie, zajímavosti, fond, Prasek, knihy" />
  <meta name="author" content="Marek Dlabacek" />
  <meta name="robots" content="all">
  <link href="static/css/style.css" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico" />


</head>

<body>

  <div id="templatemo_container">
    <div id="templatemo_menu">
      <ul>

        <li><a href="/" class="current" hreflang="cs">Úvod</a></li>
        <li><a href="/o-knihovne" hreflang="cs">O knihovně</a></li>
        <li><a href="/sluzby" hreflang="cs">Služby</a></li>
        <li><a href="/akce" hreflang="cs">Akce</a></li>

        <li><a href="/zajimavosti" hreflang="cs">Zajímavosti</a></li>
        <li><a href="/kontakt" hreflang="cs">Kontakt</a></li>
        <li><a href="/podekovani" hreflang="cs">Poděkování</a></li>
        <li><a href="/o-nas" hreflang="cs">O těchto stránkách</a></li>

      </ul>
    </div>
    <!-- end of menu -->

    <div id="templatemo_header">
      <div id="templatemo_special_offers">
        <p>
          <cite>„S pomocí knih se mnozí stávají učenými i mimo školu. Bez knih pak nebývá učený nikdo ani ve
                    škole.“</cite>
        </p>
        Jan Amos Komenský
      </div>

      <div id="templatemo_special_offers_left">

        <div class="fb-like" data-href="https://www.facebook.com/Knihovna-obce-Prasek-1661656817446285/" data-width="200px" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>

      </div>

      <div id="templatemo_new_books">


      </div>
    </div>
    <!-- end of header -->

    <div id="templatemo_content">

      <div id="templatemo_content_left">
        <div class="templatemo_content_left_section">

          <br>
          <b><u><strong><a href="https://merkur.tritius.cz/Carmen/library/prasek/" target="_blank"><span
                        class="enter_catalog" >Vstup do katalogu</span></a></strong></u></b>
          <br>
          <h2 class="zajimave-odkazy">Zajímavé odkazy</h2>
          <ul>
            <li><a href="http://www.kosmas.cz" target="_blank" hreflang="cs">Knihkupectví Kosmas</a></li>
            <li><a href="http://www.databazeknih.cz" target="_blank" hreflang="cs">Databáze knih</a></li>
            <li><a href="http://www.novybydzov.cz/knihovna.asp" target="_blank" hreflang="cs">Knihovna Nový Bydžov</a></li>
            <li><a href="http://www.svkhk.cz" target="_blank" hreflang="cs">SVKHK</a></li>
            <li><a href="http://www.argo.cz" target="_blank" hreflang="cs">Argo</a></li>
            <li><a href="http://www.knihovnahk.cz/" target="_blank" hreflang="cs">Knihovna Hradec Králové</a></li>
          </ul>
        </div>
        <div class="templatemo_content_left_section">
          <h2 class="zajimave-odkazy">Odkazy na některá zajímavá nakladatelství</h2>
          <ul class="brand-logo">
            <li><a href="http://www.argo.cz/" hreflang="cs">
                        <img 
                        src="https://res.cloudinary.com/ddhpicapt/image/upload/c_scale,w_100/v1644141407/images/Bannery/argo_r6erhv"
                        width="100" 
                        height="100"
                        alt="Argo"/>
                      </a>
                    </li>
            <li><a href="http://www.albatros.cz/uvod/" hreflang="cs">
                        <img 
                        src="https://res.cloudinary.com/ddhpicapt/image/upload/c_scale,w_95/v1644141407/images/Bannery/albatros_ie1awm.webp" 
                        width="95" 
                        height="105" 
                        alt="Albatros"/>
                      </a>
            </li>
            <li><a href="http://www.dominoknihy.cz/" hreflang="cs">
                        <img 
                        src="https://res.cloudinary.com/ddhpicapt/image/upload/c_scale,w_100/v1644141407/images/Bannery/domino_pwyy01" 
                        width="100" 
                        height="100" 
                        alt="Domino"/>
                      </a>
                    </li>

            <li><a href="http://www.grada.cz/katalog/" hreflang="cs">
                        <img 
                        src="https://res.cloudinary.com/ddhpicapt/image/upload/c_scale,w_100/v1644141408/images/Bannery/grada_yzhcmb" 
                        width="100" 
                        height="76" 
                        alt="Grada"/>
                      </a>
                    </li>

            <li><a href="http://nakladatelstvi.hostbrno.cz/" hreflang="cs">
                        <img 
                        src="https://res.cloudinary.com/ddhpicapt/image/upload/c_scale,w_100/v1644141408/images/Bannery/host_orh2kd" 
                        width="100" 
                        height="44" 
                        alt="Host"/>
                      </a>
                    </li>

            <li><a href="http://www.jota.cz/" hreflang="cs">
                        <img 
                        src="https://res.cloudinary.com/ddhpicapt/image/upload/c_scale,w_100/v1644141408/images/Bannery/jota_jqkjku" 
                        width="100" 
                        height="32" 
                        alt="Jota"/>
                      </a>
                    </li>

            <li><a href="http://www.mobaknihy.cz/" hreflang="cs">
                        <img 
                        src="https://res.cloudinary.com/ddhpicapt/image/upload/c_scale,w_100/v1644141408/images/Bannery/moba_gjavth" 
                        width="100" 
                        height="100" 
                        alt="Moba"/>
                      </a>
                    </li>

            <li><a href="http://www.paseka.cz/" hreflang="cs">
                        <img 
                        src="https://res.cloudinary.com/ddhpicapt/image/upload/c_scale,w_100/v1644141408/images/Bannery/paseka_pjz5hc" 
                        width="100" 
                        height="100" 
                        alt="Paseka"/>
                      </a>
                    </li>
          </ul>
        </div>
      </div>
      <!-- end of content left -->

      <div id="templatemo_content_right">
        {% block content %} {% endblock %}


        <div id="templatemo_footer">
          <br/>
          <div class="fb-like" data-href="https://www.facebook.com/Knihovna-obce-Prasek-1661656817446285/" data-width="200px" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
          <br/> Copyright © Knihovna obce Prasek <a href="https://knihovna-prasek.cz/"><strong>Knihovna obce Prasek</strong></a><br/> Powered by <a href="https://rosti.cz/">Roští.cz, s.r.o.</a>
        </div>
        <!-- end of footer -->

      </div>
      <!-- end of container -->
</body>

</html>
