{% extends "base.html" %}


{% block content %}
<div>
  <h1 class="index-novinky">Novinky v naší knihovně</h1>
</div>
<br>

<div>
    <img src="static/images/den_deti.jpg" alt="image"/>
</div>

<div>
    <h3 class="index-h3">eKNIHOVNA<br/></h3>
    
    <img src="https://res.cloudinary.com/ddhpicapt/image/upload/v1644141409/images/den_deti_xxaxhn.jpg" alt="image"/>
    <div class="product_info">
        <p>
            <h4>Proč eKnihovna?</h4>
            <ul class="eknihovna">
                <li>otevírací doba 24 hodin denně</li>
                <li>stovky e-knih zdarma online</li>
                <li>bezpečně, nemusíte nikam chodit a nic dezinfikovat</li>
                <li>alternativa k uzavřené kamenné knihovně</li>
            </ul>
            Knihy jednoduše, rychle a zdarma, jděte přímo na <a href="https://www.eknihovna.cz" target="_blank">www.eknihovna.cz</a> a vyzkoušejte. <br>

            Přejeme úspěšný rok 2021  <br>

            Tým eKNIHOVNA
    </div>
    <div class="cleaner">&nbsp;</div>
</div>

<div class="templatemo_product_box">
    <h3 class="index-h3">Analfabetka, která uměla počítat<br/><span>Jonas Jonasson</span></h3>
    <img src="static/images/knihy_min/analfabetka-ktera-umela-pocitat.jpg" alt="image" height="150" width="100"/>
    <div class="product_info">
        <p>Druhý humoristický román Jonase Jonassona, jehož Stoletého staříka, který vylezl z okna a zmizel
            se v češtině prodalo přes padesát tisíc výtisků! Vypráví příběh černošské dívky Nombeko Mayeki,
            která se v roce 1961 narodila v Sowetu, chudinském předměstí Johannesburgu.
            Přestože neumí číst, velmi dobře rozumí matematice. Postupně se dopracuje na pozici, ve které
            navrhuje jaderné hlavice, a odstěhuje se do Švédska. Ve Švédsku vyšel román na podzim 2013 a okamžitě
            vzbudil ohlas srovnatelný se Stoletým staříkem, který tu byl dva roky po sobě nejprodávanějším románem. </p>
        <p>Recenze a popis <a href="https://www.databazeknih.cz/knihy/jonasson-analfabetka-ktera-umela-pocitat-191857" target="_blank">zde</a>
        </p>
    </div>
    <div class="cleaner">&nbsp;</div>
</div>

<div class="cleaner_with_width">&nbsp;</div>

<div class="templatemo_product_box">
    <h3 class="index-h3">Poslední aristokratka<br/><span>Evžen Boček</span></h3>
    <img src="static/images/knihy_min/posledni-aristokratka.jpg" alt="image" height="150" width="100"/>
    <div class="product_info">
        <p>František Antonín hrabě Kostka z Kostky je potomek šlechtického rodu, žijící
            v New Yorku. Po pádu komunistického režimu se s americkou manželkou Vivien a dcerou
            Marií (III.) vrací do Čech, aby převzal rodové sídlo. Kromě zámku „zdědí“ hraběcí
            rodina i personál: zpátečnického kastelána, hypochondrického zahradníka a kuchařku, která
            si ráda cvakne a občas to přežene.
            Chudobný navrátilec, krkolomně navazující na slavný rodokmen, emigrantství,
            místní zemitost, zámek jako konkurenceschopná atrakce, kníže Schwarzenberg, zpěvačky
            Cher a Helenka Vondráčková, to jsou motivy, z nichž autor, profesí kastelán, upředl sérii
            panoptikálně komických situací. V deníku Marie III., posledního potomka rodu, nenajdete sex,
            násilí, vraždy ani hluboké myšlenky. Má jedinou ambici: pobavit čtenáře!</p>
        <p>Recenze a popis <a href="https://www.databazeknih.cz/knihy/prihody-aristokratky-posledni-aristokratka-134832"
                              target="_blank">zde</a></p>
    </div>
    <div class="cleaner">&nbsp;</div>

</div>
<div class="cleaner_with_height">&nbsp;</div>

<div class="templatemo_product_box">
    <h3 class="index-h3">Saturnin<br/><span>Zdeněk Jirotka</span></h3>
    <img src="static/images/knihy_min/saturnin.jpg" alt="image" height="150" width="100"/>
    <div class="product_info">
        <p>Slavná humoristická kniha, která pobavila již několik generací čtenářů.
            Na jejích stránkách se čtenáři dozví, co se stane, když věrný sluha Saturnin
            přestěhuje svého pána z pohodlného bytu na loď, kde se pak objeví teta Kateřina
            se synem Miloušem, a co se přihodí při rodinné dovolené u dědečka, jehož dům je
            díky povodni načas odříznut od civilizace. Všem nepříjemnostem, katastrofám a
            přetvářce tety Kateřiny naštěstí umí s jiskřivým vtipem čelit Saturnin. Jeho
            schopnosti jsou téměř geniální, jak o něm píše v jednom dopise dědeček:
            „V bláznivých nápadech toho chlapíka je kus poezie, jeho humor, fantazie a
            podivuhodné myšlenkové přemety dovedou udělat detektivku z jízdního řádu."</p>
        <p>Recenze a popis <a href="https://www.databazeknih.cz/knihy/saturnin-saturnin-1615"
                              target="_blank">zde</a></p>

    </div>
    <div class="cleaner">&nbsp;</div>
</div>

<div class="cleaner_with_width">&nbsp;</div>

<div class="templatemo_product_box">
    <h3 class="index-h3">Mnich, který prodal své ferrari<br/><span>Robin S. Sharma</span></h3>
    <img src="static/images/knihy_min/mnich-ktery-prodal-sve-ferrari.JPG" alt="image" height="150" width="100"/>
    <div class="product_info">
        <p>Kniha patřící mezi nejznámější klasická díla s duchovní a psychologickou tematikou. Tato „úchvatná knížka,
            která přináší potěšení i poznání“, jak se o ní vyjádřil Paulo Coelho, byla přeložena do třiačtyřiceti
            jazyků a inspiruje miliony čtenářů na celém světě. Vypráví příběh o slavném a bohatém právníkovi Julianu
            Mantlovi, jenž se ocitl na pokraji smrti, když jednoho dne v přeplněné soudní síni utrpěl infarkt. Jeho fyzický
            kolaps je provázen krizí duchovní, která jej donutí hluboce se zamyslet nad neutěšeným stavem svého života a
            vydat se hledat odpovědi na nejdůležitější otázky lidského bytí. V naději, že nalezne štěstí a splnění svých
            snů, vypravuje se Julián Mantle na putování do nedostupných indických končin obydlených prastarou východní
            kulturou. Zde se postupně seznamuje se starobylou moudrostí a filozofií, která jej naučí objevovat, kultivovat a ovládat
            skrytý potenciál vlastního vědomí, těla i ducha. Někdejší slavný advokát, který se postupně oprošťuje od svého
            osavadního životního stylu, prochází hlubokou osobní proměnou.
            Příběh Juliána Mantla čtenáře krok za krokem provází na cestě k sebepoznání a ke smysluplnému a vyrovnanému životu.</p>
        <p>Recenze a popis <a href="https://www.databazeknih.cz/knihy/mnich-ktery-prodal-sve-ferrari-23638"
                              target="_blank">zde</a></p>
        <!--  <h3>$45</h3>
         <div class="buy_now_button"><a href="subpage.html">Buy Now</a></div>
         <div class="detail_button"><a href="subpage.html">Detail</a></div> -->
    </div>
    <div class="cleaner">&nbsp;</div>
</div>

<div class="cleaner_with_height">&nbsp;</div>


</div> <!-- end of content right -->

<div class="cleaner_with_height">&nbsp;</div>
</div> <!-- end of content -->
{% endblock %}
