{% extends "base.html" %} {% block content %}

<p><b>Adresa</b></p>
<p>
  Obecní knihovna Prasek<br> Prasek 229<br> 504 01 Nový Bydžov
</p>
<p><b>Telefon</b></p>
<p>
  776 554 105</p>
<p><b>Email</b><br>
  <a href="mailto:knihovna.prasek@seznam.cz" hreflang="cs">knihovna.prasek@seznam.cz</a><br>
  <a href="mailto:marie.chladova@email.cz" hreflang="cs">marie.chladova@email.cz</a>
</p>

<p><b>Internetové stránky</b></p>

<p>Nové <a href="http://knihovna-prasek.wz.cz/" hreflang="cs">https://knihovna-prasek.cz/</a></p>
<p>Staré <a href="http://knihovnaprasek.wz.cz/" hreflang="cs">http://knihovnaprasek.wz.cz/</a></p>

<p><b>Výpůjční doba</b></p>
Středa 14:00 - 17:00 hodin

<div class="cleaner_with_height"> </div>





</div>
</div>
<!-- end of content right -->

{% endblock %}
