{% extends "base.html" %} {% block content %}


<p><b>Kde byla knihovna dříve?</b></p>
<p>Do roku 1997 byla knihovna umístěna v budově kampeličky. Po přestavbě budovy na obecní byty byly knihy přestěhovány do místnosti na obecním úřadě, která slouží i k vítání občánků a jako volební místnost.</p>
<p><b>Kde je knihovna dnes?</b></p>
<p>Od července 2010 se obecní knihovna nachází v budově prodejny, nyní zde najdete i obecní úřad. Do knihovny se dostanete zadním vchodem.</p>

<p>
  Pokud se chcete dozvědět něco z ještě starší historie knihovny v Prasku, stačí se podívat na <a href="/zajimavosti" hreflang="cs">Zajímavost</a>.
</p>

<div class="cleaner_with_height">&nbsp;</div>

</div>
</div>
<!-- end of content right -->
{% endblock %}
