{% extends "base.html" %} {% block content %}


<br> Jako technický tvůrce a programátor těchto stránek cítím povinnost vysvětlit a osvětlit technickou stránku věci.
<br> Webový framework - <a href="https://github.com/kataras/iris" hreflang="en">Iris</a>
<br> Certifikační autorita - <a href="https://letsencrypt.org/"
  hreflang="en">Let’s Encrypt</a>
  <br>

<p>
  Dalším bod, který cítím, že je třeba obhájit, je responzivnost webu. Na toto téma byla vedena dlouhá diskuze a nepodařilo se mě, jako technickému autoru stránek, prosadit elegantní přístupnost na všech zařízeních. Je pravda, že nejspíše na tyto stránky
  nebude příliš přístupů z tabletů a chytrých telefonů a že by to změnilo požadovaný vzhled. Ovšem pokud se najde více lidí, kteří se ozvou s požadavkem na přístupnost z tabletu nebo telefonu, tak se dá vše změnit.
</p>
<p>
  Co se týče vzledu, jsem pouze nástroj, který se pokouší tvořit tak, jaký je požadavek a plnit přání zadavatele.
</p>
<p>
  <b>Slovo na závěr</b><br> Závěrem bych chtěl upozornit, že toto je jakási první verze stránek, nejsme vázáni takřka ničím a má sloužit hlavně a primárně čtenářům. Tudíž jakékoli připomínky, nápady, upozornění jsou vítány a pokud to bude jen trochu reálné,
  tak budou i uskutečněny. Lze změnit či upravit takřka cokoli a je jen na vás, čtenářích, co si budete přát.
  <div class="cleaner_with_height">&nbsp;</div>


  </div>
  </div>
  <!-- end of content right -->

  {% endblock %}
