{% extends "base.html" %} {% block content %}


<!-- Fond Code -->
Nejprve bych chtěl poděkovat <a href="https://rosti.cz/" hreflang="cs">Roští.cz, s.r.o.</a> za poskytnutí hostingu pro tyto stránky a samozřejmě mnoho rad při spouštění. Poděkování patří i Martinu Janotovi za velkou a hlavně bleskovou pomoc při sestavování
seznamu knih. Pak také všem, kteří nesobecky darovali nebo dlouhodobě zapůjčili knihy. A rozhodně paní Frambergové za konzultace, rady a neochvějnou trpělivost. A mé osobní poděkování patří Alexandře Chamrádové za tolerování práce v noci a až příliš časté
žádosti typu "Co si o tom myslíš?" a také drobné, leč pro mne neocenitelné práce a korekce. A v neposlední řadě také OÚ Prasek za materiální podporu.
<br>

<!-- Fond Code End -->
<div class="cleaner_with_height">&nbsp;</div>


</div>
</div>

{% endblock %}
