{% extends "base.html" %} {% block content %}

<p><b>Nabízíme  k půjčování  domů</b></p>
<p>
  <ul class="sluzby-list">
    <li>beletrii českých i světových autorů (romány, povídky, ...)</li>
    <li>naučnou literaturu (životopisy, encyklopedie)</li>
    <li>literaturu pro děti</li>
    <li>časopisy (Flóra na zahradě, Maminka ) - u všech i starší čísla</li>
    <li>nově - Chatař-chalupář, Historie, Darina</li>
  </ul>
  <p>To vše ze stálého knihovního fondu, který obsahuje 1350 svazků a pomocí pravidelných výměnných souborů , které zajišťuje Městská knihovna Nový Bydžov.</p>

  <p><b>Co nabízíme v knihovně?</b></p>
  <ul class="sluzby-list">
    <li>použití počítače </li>
    <li>internet</li>
    <li>tisk z internetu</li>
    <li>seznámení s počítačem a s internetem</li>
  </ul>
  <p><b>PŮJČOVÁNÍ KNIH,  ČASOPISŮ  A  POUŽITÍ  INTERNETU  ZDARMA</b></p>
  <p>Přístup na internet i mimo výpůjční dobu knihovny, dle úředních hodin na obecním úřadě . K dispozici barevná tiskárna.</p>

  <p><b>Nový ceník služeb</b></p>

  <a href="https://res.cloudinary.com/ddhpicapt/image/upload/v1644141410/images/combine_images_rwk0sn.jpg" hreflang="cs">
    <img 
    class="border-null" 
    src="https://res.cloudinary.com/ddhpicapt/image/upload/c_scale,w_500/v1644141410/images/combine_images_rwk0sn.jpg" 
    width="500" 
    height="354" 
    alt="Ceník"/></a>
  <br>

  <div class="cleaner_with_height"> </div>

  </div>
  <!-- end of content right -->

  <div class="cleaner_with_height"> </div>
  <!-- end of content -->
  </div>
  {% endblock %}
