{% extends "base.html" %} {% block content %}


<p>
  <b>Z historie knihovny</b><br> Vážnější historie naší knihovny začíná rokem 1921, nejspíše v reakci na založení ČSR. Tímto nechci tvrdit, že to byl první pokus o jakousi osvětu. Již dříve, v druhé polovině 19. století byl založen Osvětový spolek, který
  měl plnit přesně to, co měl v názvu. Bohužel pro nezájem po několika letech ukončil svoji činnost.
</p>
<p>
  Knihovna začínala celkem skromně, leč postupem času byla snaha o rozšíření knihovního fondu, která se více či méně dařila. Podrobné údaje naleznete v přiložené tabulce. Ostatně tato statistika není ničím vyjímečná od ostatních knihoven a odráží dobu.
  Nikoho asi nepřekvapí přísná kontrola za dob protektorátu, vyřazování "Nevhodné literatury" a povinný nákup doporučené literatury. Stejná situace se opakovala při každé změně režimu, ať při osvobození či po únorové revoluci. Vždy se "vyšší" místa snažila
  ovlivnit myšlení čtenářů odstraněním nevhodné literatury či přímo omezením na knihy režimu vhodné. Z těchto statistik je to více než dobře znatelné.
</p>
<p>
  Do roku 1932 byl knihovníkem Jan Vávra, poté Jan Jandera, nejčastějším dárcem knih byl František Belihar. který byl i dalším knihovníkem od roku 1936.
</p>
<table class="zajimavosti-table">
  <colgroup>
    <col class="col-1" />
    <col class="col-2" />
    <col class="col-3" />
    <col class="col-4" />
    <col class="col-5" />
    <col class="col-6" />
  </colgroup>
  <tr class="ro1">
    <td class="ce1">
      <p>Rok</p>
    </td>
    <td class="ce1">
      <p>Počet knih (celkem)</p>
    </td>
    <td class="ce1">
      <p>Koupeno</p>
    </td>
    <td class="ce1">
      <p>Dar</p>
    </td>
    <td class="ce1">
      <p>Počet čtenářů</p>
    </td>
    <td class="ce1">
      <p>Výpůjčky</p>
    </td>
  </tr>
  <tr class="ro1">
    <td class="ce1">
      <p>1921</p>
    </td>
    <td class="ce1">
      <p>42</p>
    </td>
    <td class="ce1"> </td>
    <td class="ce1"> </td>
    <td class="ce1">
      <p>48</p>
    </td>
    <td class="ce1">
      <p>294</p>
    </td>
  </tr>
  <tr class="ro1">
    <td class="ce1">
      <p>1922</p>
    </td>
    <td class="ce1">
      <p>57</p>
    </td>
    <td class="ce1"> </td>
    <td class="ce1"> </td>
    <td class="ce1">
      <p>35</p>
    </td>
    <td class="ce1">
      <p>227</p>
    </td>
  </tr>
  <tr class="ro1">
    <td class="ce1">
      <p>1923</p>
    </td>
    <td class="ce1">
      <p>68</p>
    </td>
    <td class="ce1"> </td>
    <td class="ce1"> </td>
    <td class="ce1">
      <p>43</p>
    </td>
    <td class="ce1">
      <p>214</p>
    </td>
  </tr>
  <tr class="ro1">
    <td class="ce1">
      <p>1924</p>
    </td>
    <td class="ce1">
      <p>94</p>
    </td>
    <td class="ce1">
      <p>19</p>
    </td>
    <td class="ce1">
      <p>7</p>
    </td>
    <td class="ce1">
      <p>43</p>
    </td>
    <td class="ce1">
      <p>415</p>
    </td>
  </tr>
  <tr class="ro1">
    <td class="ce1">
      <p>1925</p>
    </td>
    <td class="ce1">
      <p>113</p>
    </td>
    <td class="ce1">
      <p>16</p>
    </td>
    <td class="ce1">
      <p>3</p>
    </td>
    <td class="ce1">
      <p>39</p>
    </td>
    <td class="ce1">
      <p>437</p>
    </td>
  </tr>
  <tr class="ro1">
    <td class="ce1">
      <p>1926</p>
    </td>
    <td class="ce1">
      <p>158</p>
    </td>
    <td class="ce1">
      <p>37</p>
    </td>
    <td class="ce1">
      <p>1</p>
    </td>
    <td class="ce1">
      <p>47</p>
    </td>
    <td class="ce1">
      <p>506</p>
    </td>
  </tr>
  <tr class="ro1">
    <td class="ce1">
      <p>1927</p>
    </td>
    <td class="ce1">
      <p>190</p>
    </td>
    <td class="ce1">
      <p>26</p>
    </td>
    <td class="ce1">
      <p>6</p>
    </td>
    <td class="ce1">
      <p>64</p>
    </td>
    <td class="ce1">
      <p>852</p>
    </td>
  </tr>
  <tr class="ro1">
    <td class="ce1">
      <p>1928</p>
    </td>
    <td class="ce1">
      <p>199</p>
    </td>
    <td class="ce1">
      <p>8</p>
    </td>
    <td class="ce1">
      <p>1</p>
    </td>
    <td class="ce1">
      <p>69</p>
    </td>
    <td class="ce1">
      <p>827</p>
    </td>
  </tr>
  <tr class="ro1">
    <td class="ce1">
      <p>1929</p>
    </td>
    <td class="ce1">
      <p>227</p>
    </td>
    <td class="ce1">
      <p>25</p>
    </td>
    <td class="ce1">
      <p>3</p>
    </td>
    <td class="ce1"> </td>
    <td class="ce1"> </td>
  </tr>
  <tr class="ro1">
    <td class="ce1">
      <p>1930</p>
    </td>
    <td class="ce1">
      <p>255</p>
    </td>
    <td class="ce1">
      <p>23</p>
    </td>
    <td class="ce1">
      <p>5</p>
    </td>
    <td class="ce1">
      <p>62</p>
    </td>
    <td class="ce1">
      <p>716</p>
    </td>
  </tr>
  <tr class="ro1">
    <td class="ce1">
      <p>1931</p>
    </td>
    <td class="ce1">
      <p>288</p>
    </td>
    <td class="ce1">
      <p>18</p>
    </td>
    <td class="ce1">
      <p>15</p>
    </td>
    <td class="ce1">
      <p>62</p>
    </td>
    <td class="ce1">
      <p>683</p>
    </td>
  </tr>
  <tr class="ro1">
    <td class="ce1">
      <p>1932</p>
    </td>
    <td class="ce1"> </td>
    <td class="ce1"> </td>
    <td class="ce1"> </td>
    <td class="ce1"> </td>
    <td class="ce1"> </td>
  </tr>
  <tr class="ro1">
    <td class="ce1">
      <p>1933</p>
    </td>
    <td class="ce1">
      <p>305</p>
    </td>
    <td class="ce1">
      <p>17</p>
    </td>
    <td class="ce1"> </td>
    <td class="ce1">
      <p>80</p>
    </td>
    <td class="ce1">
      <p>714</p>
    </td>
  </tr>
  <tr class="ro1">
    <td class="ce1">
      <p>1934</p>
    </td>
    <td class="ce1">
      <p>371</p>
    </td>
    <td class="ce1">
      <p>39</p>
    </td>
    <td class="ce1"> </td>
    <td class="ce1">
      <p>57</p>
    </td>
    <td class="ce1">
      <p>365</p>
    </td>
  </tr>
  <tr class="ro1">
    <td class="ce1">
      <p>1935</p>
    </td>
    <td class="ce1">
      <p>405</p>
    </td>
    <td class="ce1">
      <p>41</p>
    </td>
    <td class="ce1"> </td>
    <td class="ce1">
      <p>106</p>
    </td>
    <td class="ce1">
      <p>561</p>
    </td>
  </tr>
  <tr class="ro1">
    <td class="ce1">
      <p>1936</p>
    </td>
    <td class="ce1">
      <p>438</p>
    </td>
    <td class="ce1"> </td>
    <td class="ce1"> </td>
    <td class="ce1">
      <p>86</p>
    </td>
    <td class="ce1">
      <p>1114</p>
    </td>
  </tr>
  <tr class="ro1">
    <td class="ce1">
      <p>1937</p>
    </td>
    <td class="ce1">
      <p>452</p>
    </td>
    <td class="ce1"> </td>
    <td class="ce1"> </td>
    <td class="ce1">
      <p>85</p>
    </td>
    <td class="ce1">
      <p>1926</p>
    </td>
  </tr>
  <tr class="ro1">
    <td class="ce1">
      <p>1938</p>
    </td>
    <td class="ce1">
      <p>474</p>
    </td>
    <td class="ce1"> </td>
    <td class="ce1"> </td>
    <td class="ce1">
      <p>65</p>
    </td>
    <td class="ce1">
      <p>1184</p>
    </td>
  </tr>
  <tr class="ro1">
    <td class="ce1">
      <p>1939</p>
    </td>
    <td class="ce1">
      <p>486</p>
    </td>
    <td class="ce1"> </td>
    <td class="ce1"> </td>
    <td class="ce1">
      <p>54</p>
    </td>
    <td class="ce1">
      <p>905</p>
    </td>
  </tr>
  <tr class="ro1">
    <td class="ce1">
      <p>1940</p>
    </td>
    <td class="ce1">
      <p>472</p>
    </td>
    <td class="ce1"> </td>
    <td class="ce1"> </td>
    <td class="ce1"> </td>
    <td class="ce1"> </td>
  </tr>
  <tr class="ro1">
    <td class="ce1">
      <p>1941</p>
    </td>
    <td class="ce1"> </td>
    <td class="ce1"> </td>
    <td class="ce1"> </td>
    <td class="ce1"> </td>
    <td class="ce1"> </td>
  </tr>
  <tr class="ro1">
    <td class="ce1">
      <p>1942</p>
    </td>
    <td class="ce1">
      <p>368</p>
    </td>
    <td class="ce1">
      <p>1</p>
    </td>
    <td class="ce1">
      <p>19</p>
    </td>
    <td class="ce1">
      <p>30</p>
    </td>
    <td class="ce1">
      <p>568</p>
    </td>
  </tr>
  <tr class="ro1">
    <td class="ce1">
      <p>1943</p>
    </td>
    <td class="ce1">
      <p>365</p>
    </td>
    <td class="ce1"> </td>
    <td class="ce1">
      <p>4</p>
    </td>
    <td class="ce1">
      <p>35</p>
    </td>
    <td class="ce1">
      <p>538</p>
    </td>
  </tr>
  <tr class="ro1">
    <td class="ce1">
      <p>1944</p>
    </td>
    <td class="ce1">
      <p>400</p>
    </td>
    <td class="ce1"> </td>
    <td class="ce1"> </td>
    <td class="ce1">
      <p>86</p>
    </td>
    <td class="ce1">
      <p>579</p>
    </td>
  </tr>
  <tr class="ro1">
    <td class="ce1">
      <p>1945</p>
    </td>
    <td class="ce1">
      <p>521</p>
    </td>
    <td class="ce1"> </td>
    <td class="ce1"> </td>
    <td class="ce1">
      <p>46</p>
    </td>
    <td class="ce1">
      <p>414</p>
    </td>
  </tr>
</table>
<div class="cleaner_with_height">&nbsp;</div>

<br>
<p>
  Tento graf znázorňuje počet čtenářu, knih a výpůjček v knihovně mezi lety 1921 - 1945. Chybějící údaje nejsou nijak propojeny. Po i jen letmém prozkoumání grafu je patrné, že i na malé obecní knihovně je znám politický dopad doby (snížení či zvýšení počtu
  čtenářů, omezení knih, atd.)
</p>
<br>
<a href="static/images/graf.png" hreflang="cs">
    <img src="static/images/graf_mini.png" width="500" height="139" alt="Graf"/>
</a>


</div>
</div>
<!-- end of content right -->

{% endblock %}
